@import "tailwindcss";

@font-face {
  font-family: Aeonik;
  src: url('/fonts/_AeonikTRIAL-Bold.otf') format('opentype');
}
@font-face {
  font-family: Aeonik;
  src: url('/fonts/_AeonikTRIAL-Regular.otf') format('opentype');
}


.clash{
  font-family: Aeonik;
}
.aeonik-regular{
  font-family: Aeonik;
}
